<a href="https://colab.research.google.com/github/Mifekmk/SkillTreePython/blob/main/1_3_%EC%82%AC%EC%9A%A9%EC%9E%90_%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1-3. 변수 선언하기
---
* 날짜:
* 이름:

## 개념정리
---


사용자에게서 변수를 얻어서 그에 맞는 프로그램을 짜고 싶다면 입력기능이 필요합니다. 또한 원하는 기능을 실행 후 결과물을 확인하고 싶다면 출력기능이 필요합니다. 이번시간에서는 파이썬의 입출력기능을 알아보도록 합니다.

### **(1) 입력**

사용자의 입력을 파이썬의 `input()` 함수를 이용해서 받을 수 있습니다. 아래 코드를 실행하면 사용자의 입력을 받는 창이 나타납니다.

```
input()
```

In [ ]:
input()

python

'python'

NameError: ignored

#### **설명 추가**

입력을 받을 때 설명을 추가해주고 싶다면 아래와 같이 함수의 괄호 안에 문자열을 삽입합니다.
```
input("이름을 입력하세요:")
```

In [ ]:
input("이름을 입력하세요.")

이름을 입력하세요.김민규

'김민규'

#### **바인딩**

`input()` 함수로 받은 값을 바인딩 하여 저장할 수 있습니다.
```
my_name = input('이름을 입력하세요:')
```

In [ ]:
my_name = input('이름을 입력하세요:')

이름을 입력하세요:김민규


위에서 선언한 `my_name`을 확인해 봅시다.

```
my_name, type(my_name)
```

In [ ]:
my_name, type(my_name)

('김민규', str)


`input()` 함수로 바인딩한 값은 모두 `문자열(str)` 임을 주의합니다. 
```
my_age = input("나이를 입력하세요: ")
type(my_age)
```

In [ ]:
my_age = input("나이를 입력하세요.: ")
my_age, type(my_age)

나이를 입력하세요.: 55

('55', str)

### **(2) 출력**
---

* `print()` : 원하는 값을 출력 할 수 있습니다. 

```
print(2)
```

In [ ]:
print(my_name, my_age)
print(my_name)
print(my_age)

김민규 55
김민규
55

문자 또한 출력 할 수 있습니다.

```
print("hello")
print('world')
```

In [ ]:
print("hello\nworld")
print("world")

hello
world
world

여러개의 인풋을 함께 쉼표(  `,`  )를 이용해 출력할 수 있습니다.

```
print(5,  "apples")
```

In [ ]:
print(5, "apples")

5 apples

#### **옵션**

* `sep` : 출력하는 값들 사이를 어떤 값으로 채울지 지정할 수 있습니다. 디폴트 값은 스페이스(' ') 입니다.

```
print("Hello", "world", 1, 2, 3, sep='*')
```

In [ ]:
print("Hello", "world", 1, 2, 3, sep='*')  # sep의 디폴트 값은 space입니다.
print("Hello", "world", 1, 2, 3, sep=' ')  # 기존 디폴트 값 입니다.

Hello*world*1*2*3
Hello world 1 2 3

* `end` : 문장이 끝날 때 어떤 문자로 끝날 지 지정해 줍니다. 기본값은 줄바꿈(`\n`) 입니다.

```
print("Hello", "world", 1, 2, 3, end='*')
```

In [ ]:
print("Hello", "world", 1,2,3, end='\n') 
print("world")

Hello world 1 2 3
world

## 문제풀이
---

**예제 01**

아래와 같이 직업을 입력하는 코드를 작성하세요

```
>> 직업을 입력하세요: 
```

In [ ]:
input("직업을 입력하세요: ")

직업을 입력하세요: 학생

'학생'


**예제 02**

아래와 같이 직업을 입력하면 소개글을 출력하는 코드를 작성하세요


```
>> 직업을 입력하세요: 
>> 당신의 직업은 강사 입니다.
```

In [ ]:
a = input("직업을 입력하세요: ")
print("당신의 직업은 " +a+"입니다.")

직업을 입력하세요: 강사
당신의 직업은 강사입니다.

**예제 03**

아래와 같이 직업을 입력하면 소개글을 출력하는 코드를 작성하세요

```
>> 직업을 입력하세요: 
>> 당신의 직업은 '강사' 입니다.
```

In [ ]:
a = input("직업을 입력하세요: ")
print("당신의 직업은 ","'" +a+"'","입니다.")

직업을 입력하세요: 강사
당신의 직업은  '강사' 입니다.

**예제 04**

아래와 같이 좋아하는 숫자를 출력하는 코드를 작성하세요

```
>> 내가 좋아하는 숫자: 7 
>> 내가 좋아하는 숫자는 7 이다.
```

In [ ]:
a = input("내가 좋아하는 숫자: ")
print("내가 좋아하는 숫자는 " +a+"이다.")

내가 좋아하는 숫자: 7
내가 좋아하는 숫자는 7이다.

**예제 04**

아래와 같이 코드를 작성하였는데 오류가 떴습니다. 이유를 설명하세요.

```
my_num = input("내가 좋아하는 숫자: ") 
print(my_num+10)
```

In [ ]:
my_num = input("내가 좋아하는 숫자: ")
print(my_num+10)   # input은 str함수로 정의 되기 때문입니다.

내가 좋아하는 숫자: 2

TypeError: ignored

**예제 05**

화면에 아래 문장을 출력하세요.

```
nice day!
```

In [ ]:
print("nice day!")

nice day!


**예제 06**

아래 출력이 나오도록 `#코드작성` 부분을 채워 넣으세요  (코드 한줄로 완성하세요) 

```
>> w1 = "hello"
>> w2 = "python"
>> w3 = 2
>> #코드작성
>> hello! python 2
```

In [ ]:
print("hello!", "python", "2", sep=" ")

hello! python 2

**예제 07**

아래 출력이 나오도록 `#코드작성` 부분을 채워 넣으세요  (코드 한줄로 완성하세요) 

```
>> w1 = '나의'
>> w2 = '살던'
>> w3 = '고향은'
>> #코드작성
나의~살던~고향은~
```

In [ ]:
print(w1, w2, w3, sep='~', end='~')

나의~살던~고향은~

**예제 08**

아래 출력이 나오도록 `#코드작성` 부분을 채워 넣으세요 

```
>> w1 = '나의'
>> w2 = '살던'
>> w3 = '고향은'
>> print(w1, end=#코드작성)
>> print(w2, end=#코드작성)
>> print(w3, end=#코드작성)
나의 살던 고향은~
```

In [ ]:
w1 = '나의'
w2 = '살던'
w3 = '고향은'
print(w1, end=' ')
print(w2, end=' ')
print(w3, end='~')

나의 살던 고향은~

**예제 09**

아래 출력이 나오도록 `#코드작성` 부분을 채워 넣으세요  (코드 한줄로 완성하세요) 

```
>> w1 = '나의'
>> w2 = '살던'
>> w3 = '고향은'
>> #코드작성
나의**살던**고향은
```

In [ ]:
print(w1, w2, w3, sep='**')

나의**살던**고향은

**예제 10**

아래 출력이 나오도록  `#코드작성` 부분을 채워 넣으세요 (코드 한줄로 완성하세요) 

```
>> w1 = '나의'
>> w2 = '살던'
>> w3 = '고향은'
>> #코드작성
나의  
살던    
고향은  
```

In [ ]:
print(w1, w2, w3, sep='\n')

나의
살던
고향은

**예제 11**

아래 코드의 결과를 예측하고 그 이유를 해설하세요

```
print('hello python")
```

In [ ]:
print('hello python')

hello python

**예제 12**

아래와 같이 이름과 나이를 `input()`으로 받고 소개글을 출력하는 코드를 작성하세요

```
>> 이름 : 홍길동
>> 나이: 20
반갑습니다. 20살 홍길동 이라고 합니다. 잘 부탁드립니다!
```

In [ ]:
name = input("이름을 작성해주세요.: ")
age =  input("나이를 작성해주세요.: ")
print("반갑습니다. "+age+"살 " +name+" 이라고 합니다. 잘 부탁드립니다!")

이름을 작성해주세요.: 홍길동
나이를 작성해주세요.: 20
반갑습니다. 20살 홍길동 이라고 합니다. 잘 부탁드립니다!

**예제 13**

아래와 같이 특정 메뉴를 고르는 코드를 작성하세요

```
>> 아메리카노    라떼   에스프레소
>> 메뉴를 선택하세요 : 라떼
라떼를 선택하였습니다.
```

In [ ]:
menu = ['아메리카노', '라떼', '에스프레소']
menu_choice = input("메뉴를 선택하세요.: ")
print(menu_choice,"를 선택하였습니다.")

메뉴를 선택하세요.: 에스프레소
에스프레소 를 선택하였습니다.


**예제 14**

아래와 같이 휴대폰 번호를 입력하면 전체 번호를 출력하는 코드를 작성하세요

```
>> 휴대폰 앞자리 : 010
>> 휴대폰 중간자리: 1111
>> 휴대폰 뒷자리: 1111
제 번호는 010-1111-1111 입니다.
```

In [ ]:
f_number = input("휴대폰 앞자리: ")
s_number = input("휴대폰 중간자리: ")
l_number = input("휴대폰 뒷자리: ")
total_number = f_number+'-'+s_number+'-'+l_number
print("제 번호는 ",total_number,"입니다.")

print(total_number)

휴대폰 앞자리: 010
휴대폰 중간자리: 1111
휴대폰 뒷자리: 1111
제 번호는  010-1111-1111 입니다.
010-1111-1111

**예제 15**

아래와 같이 두개의 값을 받아서 더하고 뺀 값을 알려주는 코드를 작성하세요

```
>> 첫번째 숫자를 입력하세요: 2
>> 두번째 숫자를 입력하세요: 3
두개의 숫자를 더한 값은 5 이고 뺀값은 -1 입니다.
```

In [ ]:
a = int(input('첫 번째 숫자를 입력하세요: '))
b = int(input('두 번째 숫자를 입력하세요: '))
plus = a+b
minus = a-b
print('두개의 숫자를 더한 값은', plus,"이고 뺀 값은 ", minus," 입니다." )

첫 번째 숫자를 입력하세요: 2
두 번째 숫자를 입력하세요: 3
두개의 숫자를 더한 값은 5 이고 뺀 값은  -1  입니다.