<a href="https://colab.research.google.com/github/Mifekmk/SkillTreePython/blob/main/4_2_%EB%B0%98%EB%B3%B5%EB%AC%B8___for_%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4-2. 조건문 : for 문
---
* 날짜: 2022-04-01
* 이름: 김민규

## 개념정리
---

반복문은 특정 조건에 따라 반복문 코드 블럭 안의 내용을 반복합니다. 반복문을 잘 사용하면 100번 써야 할 일을 한번에 끝낼 수 있습니다. 반복문에는 `for문`과 `while문` 이 있습니다. 오늘 배울 `for문`은 처음부터 반복의 횟수를 정해줍니다.

### **(1) 기본 사용**


for문은 몇번 반복할 것인지 조건을 주고, 그 조건에 따라 for문 아래에 있는 코드가 실행됩니다.

```
for 조건: # 조건의 횟수만큼
  코드1 # 이 코드들을 반복합니다.
  코드2 # 이 코드들을 반복합니다.
  ...
```

그럼 조건을 어떻게 주는지 알아봅시다.

#### **군집자료형과 함께 쓰는 for문**

군집자료형의 요소가 차례대로 `i` 에 바인딩 됩니다. `for문` 아래에서 `i`가 변수로 작동됩니다.  아래 예시에서 `i`는 모두 `1,2,3` 순으로 출력됩니다.  

```
for i in [1,2,3]:
  print("i의 값은 : ", i)
```

In [ ]:
for i in [1,2,3,4,5]:           # 반복문을 설정합니다.
    print(f"{i}의 인덱싱 값은 : idx[{i-1}]")

1의 인덱싱 값은 : idx[0]
2의 인덱싱 값은 : idx[1]
3의 인덱싱 값은 : idx[2]
4의 인덱싱 값은 : idx[3]
5의 인덱싱 값은 : idx[4]

리스트가 아닌 튜플이나 문자열 등 다른 군집자료형도 같은 결과를 얻습니다.

```
for i in (1,2,3):
  print("반복", i)
```

In [ ]:
for i in (1,2,3):
    print("반복", 1)

반복 1
반복 1
반복 1

In [ ]:
for i in '123':
    print('출력')

출력
출력
출력

In [ ]:
for _ in [1,2,3]:
    print("반복")

반복
반복
반복

for문 내에서 변수가 필요 없으면 아래와 같이 언더바(_)로 표기하기도 합니다.

```
for _ in [1,2,3]:
  print("i 값이 필요없는 반복")
```

In [ ]:
for _ in [1,2,3]:
  print("i 값이 필요없는 반복")

i 값이 필요없는 반복
i 값이 필요없는 반복
i 값이 필요없는 반복

#### **range와 함께 쓰는 for문**


굳이 군집자료형을 만들어 놓지 않아도 반복문을 쓸 수 있습니다. 이 때는 range를 이용하는데, range도 슬라이싱 과 마찬가지로 처음, 끝, 스텝이 존재합니다. 

* `range(n)`: `0`부터 `n-1` 까지 총 `n` 회 반복됩니다.

```
for i in range(3):
  print("i의 값은 : ", i)
```

In [ ]:
for i in range(3): # 0, 1, 2
    print("i의 값은 : ", i)

i의 값은 :  0
i의 값은 :  1
i의 값은 :  2


* `range(n, m)`: `n`부터 `m-1`까지 총 `m-n`회 반복됩니다.

```
for i in range(3, 6):
  print(i)
```

In [ ]:
for i in range(3,6): # 3, 4, 5
    print(i)

3
4
5


* `range(n, m, s)`: `n`부터 `m-1`까지 `s`씩 건너뛰며 반복됩니다.

```
for i in range(3, 10, 2):
  print(i)
```

In [ ]:
for i in range(3, 10, 2):
    print(i)

3
5
7
9

### **(2) 함수와 함께 쓰는 for문**


함수도 반복해서 실행시켜야 할 경우 for문을 통해서 작성할 수 있습니다.

```
def my_func(n):
  print(n, "을 출력하는 함수입니다")

for i in range(3):
  my_func(i)
```

In [ ]:
def my_func(n):
    print(n, "을 출력하는 함수입니다.")

for i in range(3):
    my_func(i)

0 을 출력하는 함수입니다.
1 을 출력하는 함수입니다.
2 을 출력하는 함수입니다.

In [ ]:
def square(x):
    return x**2

list(map(square, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

### **(3) if문과 함께 쓰는 for문**

for문 아래에 조건을 주어 특정 변수가 입력될 때만 코드를 실행할 수 있습니다. 

```
for i in range(3): # i는 0,1,2 세번 반복
  print('i의 값은:', i) # 세번 이 코드를 실행
  if i>0: # 세번 반복 중에 i가 0보다 크면
    print('if문: i가 0보다 큽니다') # 이 코드를 실행
```

In [ ]:
for i in range(3):
    print('i의 값은:', i)
    if i>0:
        print('0보다 크다.')
print('for문이 끝났을 때', i) # for문이 2인 값에서 끝이 났기 때문입니다.

i의 값은: 0
i의 값은: 1
0보다 크다.
i의 값은: 2
0보다 크다.
for문이 끝났을 때 2

#### 다음반복으로 건너뛰기

* `continue`

`for문` 안에서 `continue`를 만나면 즉시 다음 반복으로 넘어갑니다. `continue` 아래에 있는 `for문` 코드들은 진행되지 않습니다. 

```
for i in range(5): # i는 0~4 반복
  print(f'-----\n{i}번째 루프 시작') # 반복해서 이 코드를 실행
  if i>=2: # 만약 i가 2 이상이면
    continue # 다음 반복으로 넘어간다.
  print(f'{i}번째 루프 끝') # 반복해서 이 코드를 실행
```

In [ ]:
for i in range(5): # i는 0~4 반복
  print(f'-----\n{i}번째 루프 시작') # 반복해서 이 코드를 실행
  if i>=2: # 만약 i가 2 이상이면
    continue # 다음 반복으로 넘어간다.
  print(f'{i}번째 루프 끝') # 반복해서 이 코드를 실행

-----
0번째 루프 시작
0번째 루프 끝
-----
1번째 루프 시작
1번째 루프 끝
-----
2번째 루프 시작
-----
3번째 루프 시작
-----
4번째 루프 시작

코드에서 `i`가 2이상일때 `continue`를 만나기 때문에 if문 바깥의 `(f'{i}번째 루프 끝')` 코드가 실행되지 않습니다. 그렇기 때문에 2번째 루프 부터는 끝이라는 출력이 보이지 않네요.

#### **for문을 즉시 종료하기**  

* `break`

`for문` 안에서 `break` 을 만나면 즉시 `for문`이 종료됩니다. (모든 루프가 돌아가지 않았어도)

```
for i in range(5): # i는 0~4 반복
  print(f'-----\n{i}번째 루프 시작') # 반복해서 이 코드를 실행
  if i>=2: # 만약 i가 2 이상이면
    break # 즉시 for문 종료
  print(f'{i}번째 루프 끝') # 반복해서 이 코드를 실행
```

In [ ]:
for i in range(5):
    print(i)
    if i ==2:
        break   # break에 걸리는 조건 값까지는 도출이 됩니다.
    print('--')

0
--
1
--
2

`if문`의 조건을 만족하여 `break`을 만나는 순간 `for문`이 종료되고, 다음 루프가 실행조차 되지 않습니다. 따라서 2번째 루프가 시작된 후 다음 코드들은 보이지 않네요.

### **(4) for문을 더 효율적으로 사용하기**

for문은 파이썬에서 아주 유용하게 사용되는 문법입니다. 그러다 보니 좀 더 효율적으로 사용하는 방법에 대해 알고 있는것이 매우 도움이 됩니다.


#### **두개의 sequence를 함께 나열하기**

* `zip`  

`zip`을 이용해서 두개의 sequence를 순차적으로 함께 나타낼 수 있습니다. 사용 문법을 잘 숙지해 둡시다.

```
list1 = ["A","B","C"]
list2 = ["a", "b", "c"]
for i1, i2 in zip(list1,list2):
  print(f'list1: {i1}, list2: {i2}')
```

In [ ]:
list1 = ["A","B","C"]
list2 = ['a','b','c','d']       # 길이가 달라도 사용이 가능합니다.
for i1, i2 in zip(list1, list2): 
    print(f'list1: {i1}, list2: {i2}')

list1: A, list2: a
list1: B, list2: b
list1: C, list2: c

#### **순번을 함께 나열하기**

* `enumerate`  

`for문` 내에서 변수의 값은 항상 `sequence`에 의해서 정해집니다. 절대적인 순번(0, 1, 2, 등)을 같이 변수로 바인딩하고 싶다면 `enumerate`를 사용합니다. 

```
list1 = ["A","B","C"]
for idx, i in enumerate(list1):
  print( f'idx: {idx}, i: {i}')
```

In [ ]:
list1 = ["A","B","C"]
for idx, i in enumerate(list1): # 절대적인 순번(0,1,2 등)을 같이 변수로 바인딩하고 싶을때, 사용합니다.
    print(f'idx: {idx}, i: {i}')

idx: 0, i: A
idx: 1, i: B
idx: 2, i: C

In [ ]:
t = [1,5,7,33,39,52]
for p in enumerate(t):  # enumerate는 인덱스 번호와 원소를 tuple 형태로 제공합니다.
    print(p)

(0, 1)
(1, 5)
(2, 7)
(3, 33)
(4, 39)
(5, 52)

### (5) 다중 for문

for문 아래 for문을 또 추가 할 수 있습니다. 다만 다중 for문일 때 코드의 작동순서를 잘 파악할 필요가 있습니다. 삼중, 사중 for문도 구현은 가능합니다. 하지만 for문이 추가될때마다 계산량이 급격히 증가하기 때문에 되도록이면 이중 for문을 넘어가지 않는것이 좋습니다.

```
for i in range(3):
  for j in range(3):
    print(f"i: {i}, j:{j}")
```

In [ ]:
for i in range(5):
    for j in range(4):
        print(f"i : {i}, j : {j}")

i : 0, j : 0
i : 0, j : 1
i : 0, j : 2
i : 0, j : 3
i : 1, j : 0
i : 1, j : 1
i : 1, j : 2
i : 1, j : 3
i : 2, j : 0
i : 2, j : 1
i : 2, j : 2
i : 2, j : 3
i : 3, j : 0
i : 3, j : 1
i : 3, j : 2
i : 3, j : 3
i : 4, j : 0
i : 4, j : 1
i : 4, j : 2
i : 4, j : 3

코드가 아직 익숙하지 않은 상태에서 다중 for문을 보면 해석하기 어려울 수 있습니다. 이것저것 변수를 건드려보고, 출력을 바꾸면서 최대한 익숙해지도록 하는 것이 좋습니다. 아래 코드가 어떻게 나올지 예상해보고 출력해 봅시다.

```
for i in range(1, 6):
    print(i, end=": ")
    for j in range(1, 11):        
        print(j, end=" ")
    print()
```

In [ ]:
for i in range(1,6):    # i = 1,2,3,4,5
    print(i, end=": ")
    for j in range(1,11): # j = 1,2,3,4,5,6,7,8,9,10
        print(j, end=" ")
    print()

1: 1 2 3 4 5 6 7 8 9 10
2: 1 2 3 4 5 6 7 8 9 10
3: 1 2 3 4 5 6 7 8 9 10
4: 1 2 3 4 5 6 7 8 9 10
5: 1 2 3 4 5 6 7 8 9 10

# (6) 리스트 안에 for문 쓰기

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
I = []
for i in range(10):
    I.append(i)
I

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
I = [i+10 for i in range(10)]
I

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
I = [f'{i}, {j} for i in range(5) for j in range(4)']
I 

I = [f'{i} {j}' for i in range(5) for j in range(4)]
I

['0 0',
 '0 1',
 '0 2',
 '0 3',
 '1 0',
 '1 1',
 '1 2',
 '1 3',
 '2 0',
 '2 1',
 '2 2',
 '2 3',
 '3 0',
 '3 1',
 '3 2',
 '3 3',
 '4 0',
 '4 1',
 '4 2',
 '4 3']

## 문제풀이
---

아래와 같이 리스트를 정의하세요.

```
my_list = ["apple", "blue", "cup", "door"]
```

In [ ]:
my_list = ["apple", "blue", "cup", "door"]

**예제 01**


아래 실행 결과를 내는 코드를 `for문`과 `my_list`를 이용하여 작성하세요

```{.no-highlight}
It's apple
It's blue
It's cup
It's door
```

In [ ]:
my_list = ["apple", "blue", "cup", "door"]

for i in my_list:
    print(f"It's {i}")

It's apple
It's blue
It's cup
It's door

**예제 02** 

아래 실행 결과를 내는 코드를 `for문`과 `range`를 이용해서 작성하세요

```{.no-highlight}
It's apple
It's blue
It's cup
It's door
```

In [ ]:
my_list = ['apple', 'blue', 'cup', 'door']
for i in range(len(my_list)):   # 문자열 리스트를 range로 쓰기 위해서는 숫자값이 들어가야합니다. 이를 위해서 len() 값을 사용해주었습니다.
    print(f"It's {my_list[i]}")

It's apple
It's blue
It's cup
It's door

**예제 03** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
-------
start!
It's apple
It's blue
It's cup
It's door
-------
```

In [ ]:
   # 문자열 리스트를 range로 쓰기 위해서는 숫자값이 들어가야합니다. 이를 위해서 len() 값을 사용해주었습니다.
print(f"------")
print("start !")
my_list = ['apple', 'blue', 'cup', 'door']
for i in range(len(my_list)):
    print(f"It's {my_list[i]}")
print(f"------")

------
start !
It's apple
It's blue
It's cup
It's door
------

**예제 04** 

아래 실행 결과를 내는 코드를 작성하세요


```{.no-highlight}
-------
start!
-------
It's apple
-------
It's blue
-------
It's cup
-------
It's door
end!
-------
```

In [ ]:
print('------')
print('start!')

for i in range(4):
    print('------')
    print(f"It's {my_list[i]}")

print("end!")
print('------')

------
start!
------
It's apple
------
It's blue
------
It's cup
------
It's door
end!
------


**예제 05** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
a is apple
-------
b is blue
-------
c is cup
-------
d is door
-------
```

In [ ]:
for i in range(4):
    print(f"{my_list[i][0]} is {my_list[i]}")
    print(f"------")

a is apple
------
b is blue
------
c is cup
------
d is door
------

**예제 06** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
Apple
Blue
Cup
Door
```

In [ ]:
my_list = ['apple', 'blue', 'cup', 'door']
for i in range(len(my_list)):
    print(my_list[i].capitalize())

Apple
Blue
Cup
Door


**예제 07** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
Apple len: 5 
Blue len: 4
Cup len: 3
Door len: 4
```

In [ ]:
my_list = ['apple', 'blue', 'cup', 'door']
for i in range(len(my_list)):
    print(my_list[i].capitalize(),' len:',len(my_list[i]))

Apple  len: 5
Blue  len: 4
Cup  len: 3
Door  len: 4

**예제 08** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
0. apple  
1. blue 
2. cup 
3. door 
```

In [ ]:
my_list=['apple', 'blue', 'cup', 'door']
for idx, i in enumerate(my_list):
    print(idx,'.',i)

0 . apple
1 . blue
2 . cup
3 . door

**예제 09** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
00. apple  
01. blue 
02. cup 
03. door 
```

In [ ]:
my_list=['apple', 'blue', 'cup', 'door']
for idx, i in enumerate(my_list):
    print(f"0{idx}.{i}")

00.apple
01.blue
02.cup
03.door

**예제 10** 

`my_list2`가 다음과 같이 주어졌을 때 위에서 만든 `my_list`와 `my_list2`를 이용하여 아래와 같은 결과를 내는 코드를 작성하세요

```
my_list2 = ["red","corona","mug","oppen"]
```

```
Red apple
Corona blue
Mug cup
Oppen d
```

In [ ]:
my_list=['apple', 'blue', 'cup', 'door']
my_list2 = ["red","corona","mug","oppen"]
for i1,i2 in zip(my_list, my_list2):
    print(i2.capitalize(),i1)

Red apple
Corona blue
Mug cup
Oppen door

**예제 11** 

구구단을 호출하는 함수를 만드세요


```
>> gugudan(5)
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
```

In [ ]:
def gugudan(x):
    for i in range(1,10):
        print(f"{x} * {i} = {x*i}")
gugudan(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

**예제 12** 

이중 for문을 이용하여 아래와 똑같이 출력하는 코드를 작성하세요

```{.no-highlight}
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 
1 2 3 4 5 6 7 8 9 10 
1 2 3 4 5 6 7 8 9 10
```

In [ ]:
for i in range(1,8):  # 세로로 얼마나 내려갈건지, print 따로 작성 x
    for j in range(1,11):   # 가로로 얼마나 갈건지, print 값에 따라 작성이 되었습니다.
        print(j, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

**예제 13** 

이중 for문을 이용하여 아래와 똑같이 출력하는 코드를 작성하세요

```{.no-highlight}
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
```

In [ ]:
for i in range(1,8):
    for j in range(1,7):
        print(j, end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [ ]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [ ]:
for j in range(1,7):
    print(j, end=" ")

1 2 3 4 5 6

**예제 14** 

아래와 똑같이 출력하는 코드를 작성하세요

```{.no-highlight}
2 4 6 8 10 
1 3 5 7 9
2 4 6 8 10 
1 3 5 7 9
2 4 6 8 10 
1 3 5 7 9
2 4 6 8 10 
1 3 5 7 9
2 4 6 8 10 
1 3 5 7 9
```

In [ ]:
for i in range(1,6):    # 각각의 for에 5번씩 나올 수 있게 해줄수 있습니다.
    for j in range(2,11,2):
        print(j, end=" ")
    print()
    for j in range(1,11,2):
        print(j, end=" ")
    print()

2 4 6 8 10
1 3 5 7 9
2 4 6 8 10
1 3 5 7 9
2 4 6 8 10
1 3 5 7 9
2 4 6 8 10
1 3 5 7 9
2 4 6 8 10
1 3 5 7 9

**예제 15** 

이중 for문을 이용하여 아래와 똑같이 출력하는 코드를 작성하세요

```{.no-highlight}
         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********
```

In [ ]:
for i in range(1,11):
    for j in range(10-i):
        print(' ', end='')
    print('*'*i)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for j in range(1,6):
    print(j, end=" ") 
# end=" "는 문장을 출력하고 마지막에 무엇을 쓰고 끝낼지 정해줄 수 있습니다.

1 2 3 4 5


**예제 16** 

이중 for문을 이용하여 아래와 똑같이 출력하는 코드를 작성하세요

```{.no-highlight}
           #
           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  -------------------
  *******************
    MARRY CHRISTMAS !
```

In [ ]:
print('#'.center(19))
for i in range (0,9):
    for j in range (9-i):
        print(' ', end = '')
    print('*' *((2 *i) + 1))
print('-'*19)
print('*'*19)
print('MARRY CHRISTMAS !'.rjust(19)) # rjust : 오른쪽부터 정렬

         #
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
-------------------
*******************
  MARRY CHRISTMAS !



`apartment`가  다음과 같이 주어져 있습니다. 
```
apartment = [ [201, 202, 203], [301, 302, 303], [401, 402, 403] ]
```

In [ ]:
apartment = [ [201, 202, 203], [301, 302, 303], [401, 402, 403] ]

**예제 17** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요

```{.no-highlight}
201 호 
301 호 
401 호
```

In [ ]:
apartment = [ [201, 202, 203], [301, 302, 303], [401, 402, 403] ]
for i in range(len(apartment)): # 문자열 리스트는 len으로 꼭 바꾸어 줍니다.
    print(f"{apartment[i][0]} 호")

201 호
301 호
401 호


**예제 18** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요


```{.no-highlight}
203 호 
303 호 
403 호
```

In [ ]:
apartment = [ [201, 202, 203], [301, 302, 303], [401, 402, 403] ]
for i in range(len(apartment)): # 문자열 리스트는 len으로 꼭 바꾸어 줍니다.
    print(f"{apartment[i][2]} 호")

203 호
303 호
403 호

**예제 19** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요


```{.no-highlight}
402 호 
302 호 
202 호 
```

In [ ]:
apartment = [ [201, 202, 203], [301, 302, 303], [401, 402, 403] ]
for i in range(len(apartment)): # 문자열 리스트는 len으로 꼭 바꾸어 줍니다.
    print(f"{apartment[-i-1][1]} 호")

402 호
302 호
202 호

**예제 20** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요

```{.no-highlight}
201 호 옆집은 202 호
301 호 옆집은 302 호
401 호 옆집은 402 호
```

In [ ]:
apartment = [ [201, 202, 203], [301, 302, 303], [401, 402, 403] ]
for i in range(len(apartment)):
    #for j in range(len(apartment)-2):
        print(f"{apartment[i][0]} 호 옆집은 {apartment[i][1]} 호")

201 호 옆집은 202 호
301 호 옆집은 302 호
401 호 옆집은 402 호


**예제 21** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요

```{.no-highlight}
201 호 윗층은 301 호 윗층은 401호
202 호 윗층은 302 호 윗층은 402호
203 호 윗층은 303 호 윗층은 403호
```

In [ ]:
apartment = [ [201, 202, 203], [301, 302, 303], [401, 402, 403] ]

for i in range(len(apartment)):
    print(f"{apartment[0][i]} 호 윗층은 {apartment[1][i]} 호 윗층은 {apartment[2][i]} 호")

201 호 윗층은 301 호 윗층은 401 호
202 호 윗층은 302 호 윗층은 402 호
203 호 윗층은 303 호 윗층은 403 호

**예제 22** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요


```{.no-highlight}
201 호 
202 호
203 호
301 호
302 호
303 호
401 호 
402 호
403 호
```

In [ ]:
apartment = [ [201, 202, 203], [301, 302, 303], [401, 402, 403] ]
for i in range(len(apartment)):
    for j in range(len(apartment)):
        print(f"{apartment[i][j]} 호")

201 호
202 호
203 호
301 호
302 호
303 호
401 호
402 호
403 호

**예제 23** 

1, 4, 7, 10, 13 ... 31 을 `for문`과 `range`를 이용해서 출력하세요

In [ ]:
for i in range(11):
    print(1+3*i)

1
4
7
10
13
16
19
22
25
28
31

In [ ]:
def add_nums_line(a) :

  num = 0

  for i in range(1,a+1) :
    
    num = num + (1 * i)
    print(num)

add_nums_line(6)

1
3
6
10
15
21

`num_list`가 아래와 같이 정의되어 있습니다. 

```
num_list = [0,2,3,5,6,12,15,17,18,23,25,27,45,47,48,53,57,58,59,60,63,64,68,72,75,79,86,93,96,99,100]
```

In [ ]:
num_list = [0,2,3,5,6,12,15,17,18,23,25,27,45,47,48,53,57,58,59,60,63,64,68,72,75,79,86,93,96,99,100]

**예제 25**

`num_list` 중 4의 배수만 출력하세요

In [ ]:
num_list = [0,2,3,5,6,12,15,17,18,23,25,27,45,47,48,53,57,58,59,60,63,64,68,72,75,79,86,93,96,99,100]

for idx,i in enumerate(num_list):
    if (i%4 == 0) and (i>0):
        print(f'{i}')

12
48
60
64
68
72
96
100


**예제 26** 

`num_list` 중 50 이하인 5의 배수만 출력하세요

In [ ]:
num_list = [0,2,3,5,6,12,15,17,18,23,25,27,45,47,48,53,57,58,59,60,63,64,68,72,75,79,86,93,96,99,100]

for idx,i in enumerate(num_list):
    if (i%5 == 0) and (50>i>0):
        print(f'{i}')

5
15
25
45

**예제 27** 

`num_list` 중 각 자리수를 더해서 10이 넘는 숫자만 출력하세요

In [ ]:
num_list = [0,2,3,5,6,12,15,17,18,23,25,27,45,47,48,53,57,58,59,60,63,64,68,72,75,79,86,93,96,99,100]
for idx, i in enumerate(num_list):
    if (i//10)+(i%10) > 10:
        print(i)

47
48
57
58
59
68
75
79
86
93
96
99

**예제 28** 

`num_list` 중 가장 작은 7의 배수를 찾으세요. (hint: `break`을 반드시 포함하세요)

In [ ]:
num_list = [0,2,3,5,6,12,15,17,18,23,25,27,45,47,48,53,57,58,59,60,63,64,68,72,75,79,86,93,96,99,100]

for idx,i in enumerate(num_list):
    if (i%7 == 0) and (i>0):
        print(min({i}))
        break

63

**예제 29** 

학생들의 번호와 점수가 딕셔너리에 아래와 같이 저장되어 있습니다. 전산 실수로 인해 점수가 실제 점수보다 10점이 깍인것을 발견했습니다. 점수를 모두 10점씩 올리세요

```
st_scores = {1:80, 2:55, 3:80, 4:35, 5:75, 6: 80, 7:40, 8: 90, 9:55, 10:20}
```

In [ ]:
st_scores = {1:80, 2:55, 3:80, 4:35, 5:75, 6: 80, 7:40, 8: 90, 9:55, 10:20}
for i in range(1,11):
    st_scores[i] +=10

st_scores

{1: 90, 2: 65, 3: 90, 4: 45, 5: 85, 6: 90, 7: 50, 8: 100, 9: 65, 10: 30}


**예제 30** 

60점 미만인 학생들에게 "재평가가 실시될 예정입니다.", 90점 이상인 학생들에게 "우수장학금이 지급됩니다."를 출력하는 코드를 작성하세요. 단, 코드내에 continue를 반드시 포함하세요

In [ ]:
st_scores = {1:80, 2:55, 3:80, 4:35, 5:75, 6: 80, 7:40, 8: 90, 9:55, 10:20}
for i in range(1,11):
    if st_scores[i]>=90:
        print(f"{i}번 학생에게는 우수장학금이 지금됩니다.")
    elif st_scores[i]>=60:
        continue    # 코드를 실행하지않고 건너뛰는 함수입니다.
    else:
        print(f"{i}번 학생에게는 재평가가 실시될 예정입니다.")

2번 학생에게는 재평가가 실시될 예정입니다.
4번 학생에게는 재평가가 실시될 예정입니다.
7번 학생에게는 재평가가 실시될 예정입니다.
8번 학생에게는 우수장학금이 지금됩니다.
9번 학생에게는 재평가가 실시될 예정입니다.
10번 학생에게는 재평가가 실시될 예정입니다.

[정의] 31~32

아래와 같이 물건의 이름과 가격이 적힌 딕셔너리가 있습니다.

mart = {'a': ['apple', 1000], 'b': ['beer', 1200] , 'c' : ['cherry', 2000], 'd':['donut', 1500], 'e': ['egg', 500], 'f' : ['fish', 3000] }

In [ ]:
mart = {'a': ['apple', 1000], 'b': ['beer', 1200] , 'c' : ['cherry', 2000], 'd':['donut', 1500], 'e': ['egg', 500], 'f' : ['fish', 3000] }

예제 31

가장 저렴한 값을 구하는 코드를 for문을 이용해 한줄로 작성하세요.

In [ ]:
mart = {'a': ['apple', 1000], 'b': ['beer', 1200] , 'c' : ['cherry', 2000], 'd':['donut', 1500], 'e': ['egg', 500], 'f' : ['fish', 3000] }

min(list(map(lambda x : x[1], mart.values())))

500

예제 32

가격의 평균을 구하는 코드를 for문을 이용해 한줄로 작성하세요

In [ ]:
print(sum(list(map(lambda x : x[1], mart.values())))/len((list(map(lambda x : x[1], mart.values())))))

print(sum(list(map(lambda x : x[1], mart.values())))//len((list(map(lambda x : x[1], mart.values())))))

1533.3333333333333
1533

예제 33

다음과 같은 출력을 하는 코드를 작성해보세요. 가능하다면 코드 한줄로 작성해 보세요.
---
a is apple, b is beer, c is cherry, d is donut, e is egg

In [ ]:
mart = {'a': ['apple', 1000], 'b': ['beer', 1200] , 'c' : ['cherry', 2000], 'd':['donut', 1500], 'e': ['egg', 500], 'f' : ['fish', 3000] }
', '.join([f' {i} is {mart[i][0]}'  for i in mart])

' a is apple,  b is beer,  c is cherry,  d is donut,  e is egg,  f is fish'